site_name: Flos Solis
theme: 
  name: material
  custom_dir: overrides
  icon:
    logo: material/library
    admonition:
  palette:
    - scheme: slate # 夜间模式
      primary: indigo
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式
    - scheme: default # 日间模式
      primary: indigo # 上方的
      accent: orange # 链接等可交互元件的高亮色
      toggle:
        icon: material/weather-night # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  language: zh


nav:
  - 主页: index.md
  - 开发:
    - DEV/index.md
    - LaTeX: DEV/latex.md
    - MySQL: DEV/MySQL/mysql.md
    - 网站测试: DEV/WebTest/test.md
  - 随笔:
    - ESSAY/index.md
    - 日记:
      - ESSAY/Jottings/2511.md
  - 转载:
    - REPRINT/index.md





# [Extensions]
plugins:
  - search: # 搜索 
      lang:  #还不懂这个lang是干嘛的
        - en
        - ja
  - tags # 给单篇文章添加标签
    
markdown_extensions:
  # 表格
  - tables
  # 一些扩展格式
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  # latex支持
  - pymdownx.arithmatex:
      generic: true
  - attr_list # 给图片后面添加{width="300"}设置大小
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      linenums: true # 显示行号
      # auto_title: true # 显示编程语言名称
      anchor_linenums: true
      pygments_lang_class: true
  - meta # 支持Markdown文件上方自定义标题标签等
    # Admonitions, also known as call-outs
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
    # 列表
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  # 图标
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.snippets: # 术语拓展
  - pymdownx.inlinehilite
  - abbr # 工具提示
  
extra_javascript:
  # latex支持
  - mkdocs/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js # https://cdn.bytedance.com/?query=mathjax&version=3.2.0
extra_css:
  - mkdocs/css/no-footer.css # 不使用底部的翻页
  - mkdocs/css/unordered-list-symbols.css # multiplt unordered list symbolsa
  - mkdocs/css/extra.css
extra:
  homepage: https://flossolis.github.io/
  social: # icons
    - icon: fontawesome/brands/github
      link: https://github.com/FlosSolis
      name: GitHub | Flos Solis
## [bottom-left corner]
copyright: Copyright &copy; 2023 Flos Solis # 左下角的版权声明
